.card {
  height: 500px;
  width: 800px;
}

.cardImg {
  position: relative;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardResizer button{
  position: relative;
  width: 40px;
  height: 40px;
  top: 100%;
  left: 0;
  font-size: 30px;
  background-color: hsla(0, 0%, 0%, 0.2);
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.lineDiv {
  height: 500px;
}




#resultDiagram {
  width: 400px; 
  height: 400px; 
  background-color: hsl(0, 0%, 100%); 
  position: relative;
  
  border: solid 2px hsl(0, 0%, 15%)
}

.section {
  border: 1px solid #272727;
  position: absolute;
}

.nextButton {
  display: none;
}